<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>METAR Map</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></head>
<body>

<h1>
  METAR Map
  <small class="text-muted">Updated {{updated}}/{{updatedutc}}Z</small>
</h1>

{% for station in stations %}
<h3>{{station.name}} <span class="badge {{station.badge_class}}">{{station.conditions}}</span></h3>
{% endfor %}

</body>
</html>
